$cor-padrao: darken(#c24e4b, 0);
$cor-axiliar: lighten(#1e2c35,0);
$cor-branca: #fff;
$raio: 0.3em;

$mq-mobile: "(max-width: 980px)";

//Funções de Cores
//adjust-hue() - AJusta a tonalidade da cor;
//saturate() - aumenta a saturação da cor, ficando bem mais forte;
//complement() - Returns the complement of a color;